header{
  height:40px;
  margin:10px;
}
nav{
  width:700px;
  margin:10px;
}
nav ul{
  list-style:none;
  text-align:center;
  border-top:1px solid red;
  border-bottom:1px solid red;
  padding:10px 0;
}
nav ul li{
  display:inline;
  text-transform:uppercase;
  padding: 0 10px;
  letter-spacing:10px;
}
nav ul li a{
  text-decoration:none;
  color:black;
}
nav ul li a:hover{
  text-decoration: underline;
  color:orange;
}
#left{
  width:200px;
  float:left;
}
#left ul{
  color:#fff;
  list-style:none;
  text-indent:15px;
  padding:0;
}
#left h4{
  background:#e3e3e3;
}
#left ul li{
  background:#3f3f3f;
  font-size:20px;
}
#left ul li a{
  text-decoration: none;
  color:#fff;
  display:block;
}
#left ul li a:hover{
  background: #d03
}
#main{
  color:#444;
  overflow:hidden;
  float:left;
  width:1000px;
}
footer{
  background:#e3e3e3;
}
